DISCORD_CLIENT_ID=1503601298543480873
DISCORD_CLIENT_SECRET=dwmk1wnBvslBArlHj4plos3za_XtpCpT
DISCORD_GUILD_ID=1504015726040711201
DISCORD_REDIRECT_URI=http://localhost:9200/auth/callback
DISCORD_ADMIN_ROLE=
PORT=9200
HOST=0.0.0.0
